<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Adicionar Tarefa</title>

	<f:metadata>
		<f:event type="preRenderView" listener="#{tarefaManagedBean.init}" />
	</f:metadata>
</h:head>
<h:body>
	<h3>Adicionar Tarefa</h3>

	<h:form>
		<h:panelGrid columns="1">
	

			<h:outputLabel value="Descrição:" />
			<h:inputTextarea id="descricao"
				value="#{tarefaManagedBean.selectedTarefa.descricao}"
				required="true">
				<f:validateLength minimum="3" maximum="255" />
			</h:inputTextarea>
			<h:message for="descricao" />

		</h:panelGrid>

		<h:commandButton value="Enviar"
			action="#{tarefaManagedBean.adicionar}" />
	</h:form>
</h:body>
</html>