<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Editar lembrete</title>

    <f:metadata>
        <f:viewParam name="lembrete" value="#{lembreteBean.lembrete.id}"/>
        <f:event type="preRenderView" listener="#{lembreteBean.lembretePorId}"/>
    </f:metadata>
</h:head>
<h:body>
    <h1>Editar lembrete</h1>

    <h:messages/>

    <h:form rendered="#{lembreteBean.lembrete.id != 0}">
        <h:panelGrid columns="3">
            <h:outputLabel value="Título:"/>
            <h:inputText id="titulo" value="#{lembreteBean.lembrete.titulo}" required="true">
                <f:validateLength minimum="3" maximum="255"/>
            </h:inputText>
            <h:message for="titulo"/>

            <h:outputLabel value="Descrição:"/>
            <h:inputTextarea id="descricao" value="#{lembreteBean.lembrete.descricao}" required="true">
                <f:validateLength minimum="3" maximum="255"/>
            </h:inputTextarea>
            <h:message for="descricao"/>

            <h:outputLabel value="Início:"/>
            <h:inputText id="data-inicio" value="#{lembreteBean.lembrete.dataInicio}" required="true">
                <f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{initParam.timezone}"/>
            </h:inputText>
            <h:message for="data-inicio"/>
        </h:panelGrid>

        <h:commandButton value="Enviar" action="#{lembreteBean.editar}"/>
    </h:form>

    <h:link value="Voltar" outcome="home"/>
</h:body>
</html>