<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Meu trello com JSF</title>
	<script type="text/javascript">
	    function handleDrop(event, ui) {
	        var droppedCar = ui.draggable;
	        droppedCar.fadeOut('fast');
	    }
	</script>

</h:head>
<h:body>
	<h:form id="tarefasForm">
		<h:panelGrid columns="2" style="width:100%">
			<p:column>
				<p:fieldset id="tarefasField" legend="To Do">
										<p:dataGrid id="tarefas" var="tarefa"
											value="#{tarefaManagedBean.tarefas}" columns="1">
											<p:panel id="tarefastodo" header="#{tarefa.descricao}"
												style="text-align:center" />
											<p:draggable for="tarefastodo" revert="true"
												handle=".ui-panel-titlebar" stack=".ui-panel" />
										</p:dataGrid>
				</p:fieldset>
			</p:column>
			<p:column>
				<p:fieldset id="tarefasDoneField" legend="Done">
										<p:dataGrid id="tarefasDone" var="tarefa"
											value="#{tarefaManagedBean.tarefasDone}" columns="1">
											<p:panel id="tdone" header="#{tarefa.descricao}"
												style="text-align:center" />
											<p:draggable for="tdone" revert="true" handle=".ui-panel-titlebar"
												stack=".ui-panel" />
										</p:dataGrid>
				</p:fieldset>
			</p:column>

		</h:panelGrid>

		<p:droppable for="tarefasDoneField" tolerance="touch"
			activeStyleClass="ui-state-highlight" datasource="tarefas"
			onDrop="handleDrop">
			<p:ajax listener="#{tarefaManagedBean.todoToDone}"
				update="tarefasDone tarefas" />
		</p:droppable>
		<p:droppable for="tarefasField" tolerance="touch"
			activeStyleClass="ui-state-highlight" datasource="tarefasDone"
			onDrop="handleDrop">
			<p:ajax listener="#{tarefaManagedBean.doneToTodo}"
				update="tarefas tarefasDone" />
		</p:droppable>

	</h:form>
</h:body>
</html>